/**
 * Montserrat Bold, fixed-weight font
 */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(Montserrat),
    url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
}
