$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(240, 78%, 98%); // Very Light Grayish Blue
$clr-neutral-300: hsl(235, 80%, 98%);
$clr-neutral-400: hsl(234, 14%, 74%); // Light Grayish Blue
$clr-neutral-700: hsl(233, 13%, 49%); // Grayish Blue
$clr-neutral-900: hsl(232, 13%, 33%); // Dark Grayish Blue

$clr-primary-400: hsl(237, 63%, 64%);

$clr-gradient: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

$clr-shadow: hsla(244, 61%, 89%, 0.5);
